<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
                </li>
				<li>
                    <i class="fa fa-fw fa-cog"></i> <a href ="Javascript:void(0)" routerLink="/dashboard/home">Adminstration</a>
                </li>
                <li class="active">
                    <i></i> Roles
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">
            <div [hidden]="submitted">
            <form role="form">
                {{diagnostic}}
                <fieldset class="form-group">
                    <label for="roleInput">Role Name</label>
                    <input id="name" type="text" class="form-control" required [(ngModel)]="role.name" name="name" #name="ngModel" placeholder="Enter Role Name">
                    <div *ngIf="name.errors" class="alert alert-danger">
                        <div [hidden]="!name.errors.required">Role Name is Required</div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label>Pages</label>
                    <select id="pages" multiple name="pages" class="form-control" [(ngModel)]="role.pages">
                        <option *ngFor="let page of pages" [value]="page.value">{{page.display}}</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Save Role</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </form>
        </div>
    </div>
    <!-- /.row -->

</div>
