<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-user"></i> Change Password
                </li>
            </ol>
        </div>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <form method="post" id="passwordForm">
              <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off"><br/>
              <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off"><br/>
              <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">
            </form>
          </div>
        </div>
      </div>
</div>
