<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-user"></i> User Management
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="card card-default">
     <div class="row">

         <div class="col-xl-12">
                <div class="card-block">
                    <div class="form-group">
        			    <div class="row">
        			         <div class="col-xl-6">
                        	    	<select id="selectedUser" [(ngModel)]="selectedUser" type="User" class="form-control" (ngModelChange)="onChange()">
                                  <option *ngFor="let user of users" [ngValue]="user">{{user.name}}</option>
                         	   	  </select>
        			         </div>

        				    <div class="col-xl-1"></div>

               				 <div class="col-xl-4">
                        	 <button type="button" class="btn btn-primary" (click)="onClick()"><i class="fa fa-user-plus"></i> Create User</button>
                			 </div>
                			 <div class="col-xl-1"></div>
        			    </div>
                 	</div>
                 </div>
         </div>
     </div>
    </div>
    <!-- /.row -->
<div class="card card-default" [hidden]="hideUserPanel">
  <div class="row">
    <div class="col-xl-12">
        <div class="card-block">
          <div [hidden]="submitted">
            <form>
              <div class="row">
              <div class="col-xl-6">

                    <label for="name">User Name</label>
                    <input id="name" type="text" class="form-control" required maxlength="30" [(ngModel)]="user.name" name="name" #name="ngModel" placeholder="Enter User Name">
                    <div *ngIf="!name.touched && name.errors" class="alert alert-danger">
                        <div [hidden]="!name.errors.required">Name is Required</div>
                    </div>
              </div>
              </div>
            <div class="row">
              <div class="col-xl-6">
                    <br/><label for="passwrd">Password</label>
                    <input id="passwrd" class="form-control" type="password" required [(ngModel)]="user.passwrd" name="passwrd" #passwrd="ngModel" placeholder="Enter Password">
                    <div *ngIf="passwrd.touched && passwrd.errors" class="alert alert-danger">
                        <div [hidden]="!passwrd.errors.required">Password is Required</div>
                    </div>
                </div>
              </div>
              <div class="row">
              <div class="col-xl-9">
                    <br/><label>User Privilege</label><br/>
                    <div class="col-md-3 checkbox">
                      <label>
                          <input type="checkbox" name="usrMang" [(ngModel)]="user.usrMang" #usrMang="ngModel">
                          <button type="button"  (click)="onAccessLevelBtnClicked()" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret">Access Level</span></button>
                          <div *ngFor="let role of roles;" [hidden]="accessLevel">
                            <label>
                              <input type="checkbox" name="role" value="{{role.value}}" (change)="filterAccessLevel($event,role.value)"> {{role.display}}
                          </label>
                        </div>
                      </label>
                    </div>
                      <div class="col-md-3 checkbox">
                        <label>
                          <input type="checkbox" name="conf" [(ngModel)]="user.conf" #conf="ngModel">
                          <button type="button"  (click)="onConfigurationBtnClicked()" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret">Configuration</span></button>
                          <div *ngFor="let confComp of confComps;" [hidden]="compOfConf">
                            <label>
                              <input type="checkbox" name="confComp" value="{{confComp}}" (change)="filterConfgComp($event, confComp)"> {{confComp}}
                            </label>
                          </div>
                        </label>
                      </div>
                      <div class="col-md-3 checkbox">
                          <label>
                            <input type="checkbox" name="exec" [(ngModel)]="user.exec" #exec="ngModel">
                            <button type="button"  (click)="onExecutionBtnClicked()" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret">Execution</span></button>
                            <div *ngFor="let execComp of execComps" [hidden]="compOfExec">
                              <label>
                                <input type="checkbox" name="execComp" value="{{execComp}}" (change)="filterExecComp($event,execComp)"> {{execComp}}
                              </label>
                            </div>
                          </label>
                      </div>
                  </div>
                </div>


                    <div class="row">
                      <div class="col-xl-6">
                        <button type="reset" (click)="saveUser(user)" class="btn btn-primary">Save User</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                      </div>
                    </div>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
    <!-- /.row -->
</div>
