<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-user"></i> User Management
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="card card-default">
     <div class="row">
         <div class="col-xl-12">
                <div class="card-block">
                    <div class="form-group">

        			    <div class="row">
        			         <div class="col-xl-6">
                        	    	<select class="form-control">
                                  <<option>Select User to Edit</option>
                                    <option>Tom</option>
                        	        	<option>Andy</option>
                        	        	<option>Emilia</option>
                        	        	<option>nour</option>
                         	        	<option>Rozline</option>
                         	   	   </select>
        			         </div>

        				    <div class="col-xl-1"></div>

               				 <div class="col-xl-4">
                        		     <button type="button" class="btn btn-primary"><i class="fa fa-user-plus"></i> Create User</button>
                			 </div>

                			 <div class="col-xl-1"></div>
        			    </div>
                 	</div>
                 </div>
         </div>
     </div>
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-xl-12">
            <div class="card card-default">
                <div class="card-block">
          <div [hidden]="submitted">
            <form role="form">
                <fieldset class="form-group">
                    <label for="name">User Name</label>
                    <input id="name" type="text" class="form-control" required  [(ngModel)]="user.name" name="name" #name="ngModel" placeholder="Enter User Name">
                    <div *ngIf="name.errors" class="alert alert-danger">
                        <div [hidden]="!name.errors.required">Name is Required</div>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label for="passwrd">Password</label>
                    <input id="passwrd" class="form-control" type="password" required [(ngModel)]="user.passwrd" name="passwrd" #passwrd="ngModel" placeholder="Enter Password">
                    <div *ngIf="passwrd.errors" class="alert alert-danger">
                        <div [hidden]="!passwrd.errors.required">Password is Required</div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <label>Roles</label>
                    <select id="role" [(ngModel)]="user.role" name="role" required #role="ngModel" class="form-control">
						          <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                    </select>
                    <div *ngIf="role.errors" class="alert alert-danger">
                        <div [hidden]="!role.errors.required">Role is Required</div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Save User</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </form>
        </div>
    </div>
</div>
</div></div>
    <!-- /.row -->
</div>
