<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-wrench"></i> Configuration
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="card card-default">
     <div class="row">
         <div class="col-xl-12">
                <div class="card-block">
                    <div class="form-group">
        			    <div class="row">
        			         <div class="col-xl-6">
                        	    		<label>Recon. list</label>
        			         </div>
        			         <div class="col-xl-6">
        			         </div>
        			    </div>
        			    <div class="row">
        			         <div class="col-xl-6">
                        	    	<select class="form-control">
                        	        	<option>Comparison 1</option>
                        	        	<option>Comparison 2</option>
                        	        	<option>Comparison 3</option>
                        	        	<option>Comparison 4</option>
                         	        	<option>Comparison 5</option>
                         	   	   </select>
        			         </div>

        				    <div class="col-xl-1"></div>

               				 <div class="col-xl-4">
                        		     <button type="button" class="btn btn-primary">Create new Reconcilation</button>
                			 </div>

                			 <div class="col-xl-1"></div>
        			    </div>
                 	</div>
                 </div>
         </div>
     </div>
    </div>

    <!-- /.row -->
    <div class="card card-default">
     <div class="row">
         <div class="col-xl-12">
                <div class="card-block">
                    <div class="form-group">
                        <div class="row">
                             <div class="col-xl-6">
                                        <label>Recon. Name</label>
                             </div>
                             <div class="col-xl-6">
                             </div>
                        </div>
                        <div class="row">
                             <div class="col-xl-6">
                                    <input class="form-control" value="Recon. 1">
                             </div>

                            <div class="col-xl-1"></div>

                            <div class="col-xl-1">
                                <button type="button" class="btn btn-success">Save</button>
                            </div>
                            <div class="col-xl-1">
                                <button type="button" class="btn btn-danger">Delete</button>
                            </div>

                             <div class="col-xl-3"></div>
                        </div>
                    </div>
                 </div>
         </div>
     </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card card-default">
                <div class="card-block">
			<tabset>
				<tab *ngFor="let child of childItems; let in=index" [active]="child.activeTab"  (select)="createTab(in)">
                    <template *ngIf="child.showPlus" tabHeading>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </template>
                    <template *ngIf="!child.showPlus" tabHeading>
                        {{child.name}}
                        <i *ngIf="child.showX" class="fa fa-times" aria-hidden="true" (click)="deleteTab(in)"></i>
                    </template>
                    <div class="row" style="margin: 10px;"></div>
                    <div class="row">
                        <div class="col-xl-1"></div>

                        <div class="col-xl-4">
                                <label>DB type</label>
                        </div>

                        <div class="col-xl-2"></div>
                        
                        <div class="col-xl-4">
                                <label>Name</label>
                        </div>

                        <div class="col-xl-1"></div>

                    </div>
                    <div class="row">
                        <div class="col-xl-1"></div>

                        <div class="col-xl-4">
                                <select class="form-control" [ngModel]="child.type" (ngModelChange)="changeType($event, in)">
                                    <option value="1">MySQL</option>
                                    <option value="2">ORACLE</option>
                                    <option value="3">SQL Server</option>
                                    <option value="4">File</option>
                               </select>
                        </div>

                        <div class="col-xl-2"></div>

                        <div class="col-xl-4">
                                <input class="form-control" [(ngModel)]="child.name">
                        </div>

                        <div class="col-xl-1"></div>
                    </div>

					<form action="" ngNoForm *ngIf="child.type != '4'">

                        <div class="row" style="margin-top: 20px">
                            <div class="col-xl-1"></div>
                            <div class="col-xl-4">
        				        <input type="radio" [(ngModel)]="child.urlType"  name="child.name" value="1">Connection String
                            </div>
                        </div>

                        <div class="row" style="margin-top: 10px">
                            <div class="col-xl-1"></div>
                            <div class="col-xl-3">
                                <input class="form-control" placeholder="Host Name/IP" [(ngModel)]="child.host" [disabled]="child.urlType != '1'">
                            </div>
                            <div class="col-xl-1"></div>
                            <div class="col-xl-2">
                                <input class="form-control" placeholder="Port Number" [(ngModel)]="child.port" [disabled]="child.urlType != '1'">
                            </div>
                            <div class="col-xl-1"></div>
                            <div class="col-xl-3">
                                <input class="form-control" placeholder="SID/Service Name" [(ngModel)]="child.service" [disabled]="child.urlType != '1'">
                            </div>
                            <div class="col-xl-1"></div>
                        </div>

                        <div class="row" style="margin-top: 10px">
                            <div class="col-xl-1"></div>
                            <div class="col-xl-3">
                                <input class="form-control" placeholder="User Name" [(ngModel)]="child.user" [disabled]="child.urlType != '1'">
                            </div>
                            <div class="col-xl-1"></div>
                            <div class="col-xl-3">
                                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="child.password" [disabled]="child.urlType != '1'">
                            </div>
                            <div class="col-xl-4"></div>
                        </div>

                        <div class="row" style="margin-top: 20px">
                            <div class="col-xl-1"></div>
                            <div class="col-xl-4">
                                <input type="radio" [(ngModel)]="child.urlType"  name="child.name" value="2">DB link
                            </div>
                        </div>

                        <div class="row" style="margin-top: 10px">
                            <div class="col-xl-1"></div>
                            <div class="col-xl-3">
                                <input class="form-control" placeholder="DB link" [(ngModel)]="child.link" [disabled]="child.urlType != '2'">
                            </div>
                        </div>

					</form>
				</tab>

			</tabset>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
