<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i><a href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
                </li>
				<li>
                    <i class="fa fa-fw fa-cog"></i><a href ="Javascript:void(0)" routerLink="/dashboard/home">Adminstration</a>
                </li>
                <li class="active">
                    <i></i>Users
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">
          <div [hidden]="submitted">
            <form role="form">
              {{diagnostic}}
                <fieldset class="form-group">
                    <label for="name">User Name</label>
                    <input id="name" type="text" class="form-control" required [(ngModel)]="user.name" name="name" #name="ngModel" placeholder="Enter User Name">
                    <div *ngIf="name.errors" class="alert alert-danger">
                        <div [hidden]="!name.errors.required">Name is Required</div>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label for="passwrd">Password</label>
                    <input id="passwrd" class="form-control" type="password" required [(ngModel)]="user.passwrd" name="passwrd" #passwrd="ngModel" placeholder="Enter Password">
                    <div *ngIf="passwrd.errors" class="alert alert-danger">
                        <div [hidden]="!passwrd.errors.required">Password is Required</div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <label>Roles</label>
                    <select id="role" [(ngModel)]="user.role" name="role" required #role="ngModel" class="form-control">
						          <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                    </select>
                    <div *ngIf="role.errors" class="alert alert-danger">
                        <div [hidden]="!role.errors.required">Role is Required</div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Save User</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </form>
        </div>
    </div>
    <!-- /.row -->

</div>
